.tools {
    width: 100px;
    float: left;
    padding: 5px;
}

.tools li {
    padding: 5px;
    list-style: none;
}

.tools li:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.tools li.marked {
    background-color: cornflowerblue;
    color: white;
}

#drawArea {
    border:1px solid #000000;
    background-color: lightgrey;
}

 .menu {
     background-color: black;
     list-style: none;
     position: fixed;
     color: white;
     padding: 0;
     display: none;
     margin: 0;
 }

canvas {
    width: 500px;
    height: 500px;
    /*background-color: #aaaaaa;*/
}
/*label, input{*/
/*    cursor: pointer;*/
/*}*/